.form {
	width: 700px;

	background-color: rgb(26, 4, 48);
	background-image:
		radial-gradient(rgb(94, 255, 156), rgba(255, 255, 255, 12) 2px, transparent 40px),
		radial-gradient(rgb(94, 255, 156), rgba(255, 255, 255, 15) 1px, transparent 30px),
		radial-gradient(rgb(108, 255, 120), rgba(255, 255, 255, 12) 2px, transparent 40px),
		radial-gradient(rgba(255, 255, 255, 4), rgba(205, 255, 226, 0.25) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}